html {
    font-family: "monospace";
    background: #040404;
    color: #FFFFFF;
}

body {
    margin: 50px;
    font-size: 13px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.35em;
    margin-top: 30px;
}

input[type=text],
button {
    background-color: #141414 !important;
    color: #FFFFFF !important;

    border: 1px solid grey;
    border-radius: 3px;

    padding: 5px 5px;
    margin: 8px 0;

    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

button:hover {
    cursor: pointer;
    border: 1px solid white;
}

table {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    border-bottom: 1px solid #CCCCCC;
}

td {
    border-radius: 3px;
}


tr:nth-child(even) {
    background-color: #141414;
}

#wifi_table tr:not(:first-child):hover {
    background-color: #303030;
    cursor: pointer;
}

#alert {
    color: indianred;
}
